.about{
    background-image: url("backgrounds/about.png");
    height: 100% ;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
 .congrats{
  background-image: url("backgrounds/signback.png");
  height: 100% ;
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
 }

 .congrats h1, .congrats p{
   color: white;
 }
.congrats h1{
  font-size: 65px;
}
.congrats p{
  font-size: 20px;
  font-weight: 10;
}
.congratsbody{
  margin-top: 135px;
}
.divburger{
  text-align: right;
}
.congrats img{
  width: 600px;
}

.second{
  height: auto;
  background: white;
  margin-top: 20px;
}
  .game img{
    width: 330px;
  }

  .abouttext{
    padding-left: 100px;
    font-size: 20px;
    padding-right: 100px;
  }
  .navbar-brand img {
    width: 200px;
    margin-top: -30px;
}

hr{
  width: 97%; 
 color: black; 
 height: 0.5px;
 background-color:black;
}
@media(min-width:1920px){
 .abouttext{
  font-size: 26px;
  margin-top: 50px;
 }
 .game img {
  width: 400px;
  margin-left: -51px;
}
 
}
@media(max-width:1440PX){
  .game img {
    width: 340px;
}
}
@media(max-width:1360px){
  .second {
    height: auto;
    background: white;
    margin-top: 100px;
}
}
@media(max-width:1281px){
  .game img {
    width: 345px;
}
.navbar-brand img {
  width: 200px;
  margin-top: -10px;
}
.second {
  height: auto;
  background: white;
  margin-top: 70px;
}
}