
  #container1,#container2,#container3 {
    width: 970px;
    height: 350px;
    box-sizing:border-box;
    max-width:100%;
    padding: 5px 10px;
    margin: auto;
   
    position: relative;
    overflow: hidden;
  }
  #content1,#content2,#content3 {
    font-size: 23px;
    height:100%;
    width: 100%;
    overflow-y: scroll;
    padding-right: 30px;
  }
  
  #scrollbar1,#scrollbar2,#scrollbar3 {
    position: absolute;
    right: 5px;
    height: 30px;
    width: 20px;
    border-radius: 10px;
    margin-top:5px;
    background: #003CDB;
  }
 
  .down{
    margin-top: -100px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .tab-pane{
    margin-top: 40px;
  }
  .nav-tabs>li {
    float: left;
    margin-bottom: -2px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 8px 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 0px solid #ddd;
  border-bottom-color: transparent;
}
  .nav-tabs{
    
    padding: 4px;
    border-radius: 8px;
    border-bottom: none;
background: linear-gradient(90deg, rgba(21,152,229,1) 0%, rgba(11,76,115,1) 100%);
  }
  .nav-tabs li > a{
    color: white;
  }
  form .profile {
    margin-right: 18px;
  }
  .nav-tabs li>a:hover{
    background: white;
    color: black;
    transition: 0.5s;
  }
  .privacy{
    margin-bottom: 30px;
    margin-top: -10px;
  }